<!DOCTYPE html>
<html lang="en">
    <head>
      <base href="/">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Frontend</title>
      <link rel="icon" type="image/x-icon" href="../assets/photos/logo.ico">
      <link rel="stylesheet" href="../assets/styles/fonts.css">
      <link rel="stylesheet" href="../assets/styles/85758463366f2e931af255a889d135b8fc69befc.css">
    </head>
    <body>
        <script src="assets/styles/263a44e27250fde14e9f38b59415f9f6b10169e6.js"></script>
    </body>
</html>
